%h2
  =t('user_mailer.order.details')
%div
  - order.order_items.each do |order_item|
    = render partial: 'parts/order_detail_row', object: order_item, as: 'order_item'

%div{style: 'display:flex; padding: 10px 0'}
  %p.secondary{style: 'flex-grow: 1'}
    =t('user_mailer.order.total')
  %h1{style: 'margin: 0; color: rgb(26, 83, 231)'}
    = "$ #{ApiUtils::NumberFormatter.new.format(order.total_price)}"
