%tr
  %td{:height => "10", :style => "font-size: 1px; line-height: 1px"}  
%tr
  %td{:style => "font-size: 20px;"}
    %b
      = title
%tr
  %td{:height => "10", :style => "font-size: 1px; line-height: 1px"}  
%tr
  %td{:style => "font-size: 14px;"}
    = content
%tr
  %td{:height => "10", :style => "font-size: 1px; line-height: 1px"}  

= render 'parts/thin_line'