%p
  =t('driver_mailer.driver_pending_email.welcome')
%br
%p
  =t('driver_mailer.driver_pending_email.application_received')
%p
  =t('driver_mailer.driver_pending_email.get_back')
%p
  =t('driver_mailer.driver_pending_email.contact_us')