%table.em_main_table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "table-layout: fixed;", :width => "100%"}
  %tr
    %td
      =t('user_mailer.order_delivered.greeting', first_name: @user.first_name)
  %tr
    %td.em_height{:height => "10"} 
  %tr
    %td
      =t('user_mailer.order_delivered.body')

= render :partial => 'parts/order_contact_footer'
